@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
    font-family:inherit;
}
    
li{
   list-style: none;
    width: 70px;
    height: 70px;
    padding: 20px;
    opacity:inherit;
}
.caja1{
  background-color:#78B9EB;
  
}
.caja2{
    background-color: #2BC9DC;

}
.caja3{
    background-color: #DC9E2B;
}
.caja4{
 height: 35px;
 background-color:pink;
}
span:hover{
  margin-left: 100px;
  transition: all 700em ease;
  background-color: black;
  border:solid; 
}






